NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENPAY_MERCHANT_ID=
OPENPAY_PRIVATE_KEY=
NEXT_PUBLIC_OPENPAY_PUBLIC_KEY=
OPENPAY_API_URL=https://sandbox-api.openpay.co
OPENPAY_SANDBOX=true
NEXT_PUBLIC_SITE_URL=http://localhost:3000
